#cs1_basic_info {
	position:absolute;
	left:0em;
	top:0em;
	width:100.8em;
	height:12.8em;
}

#cs1_logo {
	position:absolute;
	left:103.68em;
	top:0em;
	width:38.88em;
	height:10.24em;
}

#cs1_abilities {
	position:absolute;
	left:0em;
	top:14.08em;
	width:37.44em;
	height:33.28em;
}

#cs1_hp_and_ac {
	position:absolute;
	left:41.76em;
	top:14.08em;
	width:100.8em;
	height:15.36em;
}

#cs1_ac_initiative {
	position:absolute;
	left:41.76em;
	top:30.72em;
	width:38.88em;
	height:15.36em;
}

#cs1_saving_throws {
	position:absolute;
	left:0em;
	top:48.64em;
	width:51.84em;
	height:16.64em;
}

#cs1_special_info {
	position:absolute;
	left:54.72em;
	top:48.64em;
	width:24.48em;
	height:32em;
}

#cs1_bab_grapple {
	position:absolute;
	left:0em;
	top:66.56em;
	width:51.84em;
	height:12.80em;
}

#cs1_basic_attacks {
	position:absolute;
	left:0em;
	top:82.08em;
	width:77.76em;
	height:14.08em;
}

#cs1_weapon1 {
	position:absolute;
	left:0em;
	top:98.72em;
	width:77.76em;
	height:14.08em;
}

#cs1_weapon2 {
	position:absolute;
	left:0em;
	top:114.08em;
	width:77.76em;
	height:14.08em;
}

#cs1_weapon3 {
	position:absolute;
	left:0em;
	top:129.44em;
	width:77.76em;
	height:14.08em;
}

#cs1_weapon4 {
	position:absolute;
	left:0em;
	top:144.80em;
	width:77.76em;
	height:14.08em;
}

#cs1_weapon5 {
	position:absolute;
	left:0em;
	top:160.16em;
	width:77.76em;
	height:14.08em;
}

#cs1_weapon6 {
	position:absolute;
	left:0em;
	top:175.52em;
	width:77.76em;
	height:14.08em;
}

#cs1_skills {
	position:absolute;
	left:82.08em;
	top:30.72em;
	width:60.48em;
	height:158.72em;
}


div.character-table td {
	vertical-align:bottom;
	white-space:nowrap;
	text-align:left;
	text-decoration:none;
	font-family:Arial, sans-serif;
	font-weight:normal;
	font-size:1em;
	font-style:normal;
	color:black;
	padding:0;
}

div.character-table tr {
	height:1.28em;
}

div.character-table table {
	border-collapse:collapse;
	table-layout:fixed;
	font-size:1em;
}

div.sheet1 table {
	width:141.12em;
}

#content {
	margin:1em;
	padding:1.5em;
	border:2px solid black;
	display:inline-block;
}

div.character-table {
	text-align:center;
	white-space:nowrap;
	text-decoration:none;
	font-family:Arial, sans-serif;
	font-style:normal;
	color:black;
}

div.sheet1 {
	position:relative;
	left:0em;
	top:0em;
	width:142.56em;
	height:189.44em;
}

div.character-table .sheet-title {
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	font-size:2em;
}

div.character-table .symbol {
	vertical-align:middle;
	text-align:center;
	font-size:1.6em;
}

div.character-table .ac-base-value {
	vertical-align:middle;
	text-align:right;
	font-weight:bold;
	font-size:2.6em;
}

/* headings */

div.character-table .title,
div.character-table .subtitle,
div.character-table .weapon-subtitle,
div.character-table .title-smaller,
div.character-table .armor-subhead,
div.character-table .left-title {
	border:2px solid black;
	vertical-align:middle;
	text-align:center;
	color:white;
	background:black;
}

div.character-table .title,
div.character-table .left-title {
	font-weight:bold;
	font-size:1.8em;
}

div.character-table .weapon-subtitle {
	font-weight:bold;
	font-size:1em;
}

div.character-table .title-smaller {
	white-space:normal;
	font-weight:bold;
	font-size:1.6em;
}

/* data */

div.character-table .data-value,
div.character-table .data-value-important,
div.character-table .bab,
div.character-table .weapon-name,
div.character-table .campaign-name {
	vertical-align:middle;
	text-align:center;
	border:2px solid black;
}

div.character-table .data-value {
	font-size:2.2em;
}

div.character-table .data-value-important,
div.character-table .campaign-name {
	font-weight:bold;
	font-size:2.2em;
}

div.character-table .bab {
	font-size:1.6em;
}

div.character-table .weapon-name {
	white-space:normal;
	font-size:2.2em;
}

div.character-table .temp-value {
	border:1.0px dashed black;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	font-size:2.2em;
}

div.character-table .info-value, 
div.character-table .info-value-important, 
div.character-table .info-value-small {
	vertical-align:middle;
	border-bottom:2px solid black;
}

div.character-table .info-value {
	font-size:2.2em;
}

div.character-table .info-value-important {
	font-weight:bold;
	font-size:2.2em;
}

div.character-table .info-value-small {
	font-size:2em;
}

/* skills headings */
div.character-table .skills-title, 
div.character-table .skills-cross-class-heading, 
div.character-table .skills-max-ranks-heading, 
div.character-table .skills-max-ranks-value {
	color:white;
	background:black;
	border:1px solid black;
	vertical-align:middle;
	text-align:center;
}

div.character-table .skills-title {
	font-size:1.8em;
	font-weight:bold;
}

div.character-table .skills-cross-class-heading {
	vertical-align:bottom;
	font-size:0.6em;
	border-left:1px solid black;
}

div.character-table .skills-max-ranks-heading {
	text-align:right;
	font-size:1.2em;
}

div.character-table .skills-max-ranks-value {
	font-size:1.2em;
}

div.character-table .skills-subhead, 
div.character-table .skills-subhead-main {
	padding:1px;
	font-size:1em;
	vertical-align:middle;
	text-align:center;
	white-space:normal;
	border:1px solid black;
}

div.character-table .skills-subhead-main {
	font-weight:bold;
}

/* skills data */
div.character-table .skills-name, 
div.character-table .skills-data, 
div.character-table .skills-ability {
	vertical-align:middle;
	font-size:1.6em;
}

div.character-table .skills-data, 
div.character-table .skills-total {
	text-align:center;
	border-bottom:1px solid black;
}

div.character-table .skills-ability {
	text-align:center;
}

div.character-table .skills-total {
	vertical-align:middle;
	font-weight:bold;
	font-size:2em;
}

div.character-table .skills-notes {
	vertical-align:top;
	white-space:normal;
	font-size:1.18em;
}

/* data box descriptions */
div.character-table .label-under, 
div.character-table .label, 
div.character-table .label-total-under, 
div.character-table .label-total, 
div.character-table .weapon-ammo-label, 
div.character-table .conditional-heading {
	white-space:normal;
	text-align:center;
}

div.character-table .label-under {
	vertical-align:top;
}

div.character-table .label {
	vertical-align:bottom;
}

div.character-table .label-total-under,
div.character-table .campaign-subhead {
	vertical-align:top;
	font-weight:bold;
	font-size:1.2em;
}

div.character-table .label-total, 
div.character-table .weapon-ammo-label {
	vertical-align:bottom;
	font-weight:bold;
	font-size:1.2em;
}

div.character-table .weapon-ammo-desc {
	vertical-align:bottom;
	font-size:1.44em;
	border-bottom:1px solid black;
}

div.character-table .conditional-heading {
	vertical-align:top;
	border-left:2px solid black;
	border-right:2px solid black;
	border-top:2px solid black;
}

div.character-table .conditional-modifiers {
	vertical-align:top;
	white-space:normal;
	font-size:1.4em;
	border-left:2px solid black;
	border-right:2px solid black;
	border-bottom:2px solid black;
}

/*******************************************************************/
/* styles specific to sheet 2 */
/*******************************************************************/

div.sheet2 table {
	width:143.8em;
}

div.character-table .armor-subhead {
	font-size:1.2em;
	font-weight:bold;
}

div.character-table .left-title {
	padding-left:0.5em;
	text-align:left;
}

div.character-table .single-row {
	height:1.35em;
}

div.character-table .double-row {
	height:2.7em;
}

div.character-table .col-size {
	width:1.1667em;
}

div.character-table .turn-table-cell,
div.character-table .turn-table-colhead,
div.character-table .money-table-cell,
div.character-table .possessions-colhead,
div.character-table .possessions-item,
div.character-table .possessions-weight,
div.character-table .slot-subhead,
div.character-table .slot-item,
div.character-table .slot-weight,
div.character-table .campaign-name
{
	border:1px solid black;
}

/* turn specific */
div.character-table .turn-subhead,
div.character-table .turn-hd-subhead {
	vertical-align:middle;
	white-space:normal;
	padding-right:0.5em;
}

div.character-table .turn-subhead {
	font-size:1.6em;
	text-align:right;
}

div.character-table .turn-hd-subhead,
div.character-table .turn-note,
div.character-table .turn-table-cell {
	font-size:1.4em;
	text-align:center;
}

div.character-table .turn-note {
	vertical-align:top;
	white-space:normal;
}

div.character-table .turn-table-cell {
	vertical-align:middle;
}

div.character-table .turn-total-hd {
	font-size:2em;
	text-align:center;
	vertical-align:middle;
}

div.character-table .turn-table-colhead {
	font-size:1em;
	text-align:center;
	white-space:normal;
}

/* carry specific */
div.character-table .carry-subhead	{
	font-size:1em;
	font-weight:bold;
	text-align:center;
	vertical-align:middle;
	white-space:normal;
}

/* slot specific */
div.character-table .slot-subhead {
	font-size:1.6em;
	font-weight:bold;
	text-align:left;
	background:silver;
	padding-left:0.5em;
}
div.character-table .slot-item {
	font-size:1.6em;
	text-align:left;
	padding-left:0.5em;
}
div.character-table .slot-weight {
	font-size:1.6em;
	text-align:right;
	padding-right:0.5em;
}
div.character-table .slot-heading {
	font-size:1.8em;
	font-weight:bold;
	text-align:left;
	padding-left:0.5em;
}

/* possessions specific */
div.character-table .possessions-colhead {
	font-size:1.2em;
	text-align:center;
}
div.character-table .possessions-item {
	font-size:1.6em;
	text-align:left;
	padding-left:0.5em;
}
div.character-table .possessions-weight {
	font-size:1.6em;
	text-align:right;
	padding-right:0.5em;
}
div.character-table .total-weight {
	font-size:1.8em;
	text-align:right;
	padding-right:0.5em;
}

div.character-table .money-table-cell {
	font-size:1.4em;
	text-align:left;
	vertical-align:middle;
	padding-left:0.5em;
}
div.character-table .underlined-text {	/* notes data, languages list data */
	font-size:1.6em;
	text-align:left;
	border-bottom:thin solid black;
}

div.character-table .special-abilities {
	font-size:1.6em;
	text-align:left;
	vertical-align:top;
	white-space:normal;
	border:2px solid black;
	padding:0.5em;
}

div.character-table .special-abilities ul {
	margin:0;
	padding:0 0 0 2em;
}

div.character-table .B {
	border-bottom:2px solid black;
}

div.character-table .L {
	border-left:2px solid black;
}

div.character-table .T {
	border-top:2px solid black;
}

div.character-table .R {
	border-right:2px solid black;
}

/*******************************************************************/
/* classes for diff functionality */
/*******************************************************************/
.changed {
	background: gold;
}

/*******************************************************************/
/* dialog box styles */
/*******************************************************************/

#dialog {position:absolute; width:425px; padding:10px; z-index:200; background:#fff}
#dialog-header {display:block; position:relative; width:411px; padding:3px 6px 7px; height:14px; font-size:14px; font-weight:bold}
#dialog-title {float:left}
#dialog-close {float:right; cursor:pointer; margin:3px 3px 0 0; height:11px; width:11px; background:url(images/dialog_close.gif) no-repeat}
#dialog-content {display:block; height:160px; padding:6px; color:#666666; font-size:13px}
#dialog-mask {position:absolute; top:0; left:0; min-height:100%; width:100%; background:#FFF; opacity:.75; filter:alpha(opacity=75); z-index:100}
.info, .infoheader {margin:0; font-family:Verdana, Arial, Helvetica; font-size:14px}
.info {background:#fff; border:1px solid #4f6d81; border-top:none}
.infoheader {background:url(/assistantdm/static/images/prompt_header.gif) repeat-x; color:#355468; border:1px solid #4f6d81; border-bottom:none}

