#webcam {
	width: 100%;
}

#webcam table {
	width: 100%;
	border-collapse: collapse;
	border: 1px solid black;
}

#webcam th {
	border: 1px solid black;
}

#webcam td {
	border: 1px solid black;
}

#webcam th {
	background-color: #c0c0c0;
}

#tokenlist td:first-of-type {
	width: 30px;
	border-right: none; 
}

#tokenlist td:nth-of-type(2) {
	width: 30px;
	border-left: none; 
}

#photo1 {
	position:absolute;
	z-index:1;
	width:75%;
}

#tokens1 {
	position:absolute;
	z-index:2;
	width:75%;
}

#images {
	width:75%;
	float:left;
}

#info {
	width: 23%;
	float: right;
	height: 100%;
	overflow-y: auto;
}

#messageDiv {
	margin-top: 20px;
}
