<!DOCTYPE html>
<html>
<head>
<!--	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">-->
<!--<meta name="viewport" content="width=480">-->
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="/assistantdm/static/spelllist.css"/>
	<link rel="stylesheet" type="text/css" href="/assistantdm/static/character.css"/>
	<link rel="stylesheet" type="text/css" href="/assistantdm/static/webcam.css"/>
	<title>{{title}}</title>
	<script defer src="/assistantdm/static/dialog_box.js"></script>
	<script defer src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<script defer src="/assistantdm/static/updater.js"></script>
	<script defer src="/assistantdm/static/spelllist.js"></script>
</head>
<body>
	<div id="tabs"></div>

	<div id="tab_content">
		{{#webcam}}
		<section id="tab_webcam" style="display:none;" class="tab" name="Webcam">
			<div id="webcam">
				<div id="images">
					<img id="photo1" src="/assistantdm/static/camera.jpg"/>
					<img id="tokens1" src="/assistantdm/static/tokens.png"/>
					&nbsp;
				</div>
				<div id="info">
					<div id="initiative">
						<table>
							<tr><th>Combat Round</th><th>0</th><th>Initiative</th></tr>
						</table>
					</div> 
					<br/>
					<input id="tokens1check" type="checkbox" checked>Show token overlay</input>
					<div id="tokenlist">
					</div>
					<div id="messageDiv">
					</div>
					<input id="debugcheck" type="checkbox">Keep message history</input>
				</div>
			</div>
		</section>
		{{/webcam}}

		{{#sheet1}}
		<section id="tab_sheet1" style="display:none; font-size:{{fontsize}}px;" class="tab" name="Sheet 1" character="{{name}}"></section>
		{{/sheet1}}

		{{#sheet2}}
		<section id="tab_sheet2" style="display:none; font-size:{{fontsize}}px;" class="tab" name="Sheet 2" character="{{name}}"></section>
		{{/sheet2}}

		{{#casttab}}
		<section id="tab_cast" style="display:none;" class="tab" name="{{#hasspells}}Cast / {{/hasspells}}Use" saveurl="{{saveurl}}">
			{{#hasspells}}
			<div>
				<h3>Memorised</h3>
				<div id="spellList" class="scrollable" button="btnSpells">
					{{#spells}}
					<div class="selectable">{{{html}}}</div>
					{{/spells}}
				</div>
				<br><span><input type="button" id="btnSpells" value="Cast" /><input type="button" id="btnRest" value="Rest" /></span>
			</div>
			{{/hasspells}}
			<div id="ability-div">
				<table class="abilities" button="btnDeleteAbility">
					<tr><th><h3>Daily Abilities</h3></th><th><input type="button" value="&#x271a" id="btnAbility"/></th></tr>
					{{#dailies}}
					<tr class="selectable" max="{{max}}" used="{{used}}"><td>{{name}}</td><td></td></tr>
					{{/dailies}}
					<tr><th><h3>Items</h3></th><th><input type="button" value="&#x271a" id="btnItem"/></th></tr>
					{{#charges}}
					<tr class="selectable"><td>{{name}}</td><td><input type="text" size="4" value="{{remain}}"/><input type="button" value="&#x25b2" /><input type="button" value="&#x25bc"/></td></tr>
					{{/charges}}
				</table>
				<br><span><input type="button" id="btnDeleteAbility" value="Delete" /></span>
			</div>
			<div>
				<h3>Applied to Character Sheet</h3>
				<div id="effectsList" class="scrollable">
				</div>
				{{#hasspells}}
				<br>
				<h3>Cast Spells</h3>
				<div id="castList" class="scrollable" button="btnDeleteCast btnUncast">
					{{#castList}}
					<div class="selectable">{{{html}}}</div>
					{{/castList}}
				</div>
				<br><span><input type="button" id="btnDeleteCast" value="Delete" /><input type="button" id="btnUncast" value="Uncast" />&nbsp;(double click to add note)</span>
				{{/hasspells}}
			</div>
		</section>
		{{/casttab}}

		{{{content}}}

		{{#config}}
		<section id="tab_config" style="display:none;" class="tab" name="Config">
			<form action="" method="post">
				Webcam: <input type="checkbox" name="webcam" {{#webcam}}checked{{/webcam}}><br>
				Sheet 1: <input type="checkbox" name="sheet1" {{#sheet1}}checked{{/sheet1}}><br>
				Sheet 2: <input type="checkbox" name="sheet2" {{#sheet2}}checked{{/sheet2}}><br>
				<div style="margin-left:2em;">
					Character: <input type="text" name="character" value="{{name}}"><br>
					Font size: <select name="fontsize">
						<option value="16" {{#fontsize16}}selected{{/fontsize16}}>16</option>
						<option value="12" {{#fontsize12}}selected{{/fontsize12}}>12</option>
						<option value="10" {{#fontsize10}}selected{{/fontsize10}}>10</option>
						<option value="8" {{#fontsize8}}selected{{/fontsize8}}>8</option>
						<option value="7" {{#fontsize7}}selected{{/fontsize7}}>7</option>
						<option value="6" {{#fontsize6}}selected{{/fontsize6}}>6</option>
						<option value="5" {{#fontsize5}}selected{{/fontsize5}}>5</option>
					</select><br>
				</div>
				Spells/uses: <input type="checkbox" name="spells" {{#casttab}}checked{{/casttab}}><br>
				<input type="submit" value="Save">
			</form>
		</section>
		{{/config}}

	</div>
</body>
</body>
</html>
