<html>
<head>
<!--<meta name="viewport" content="user-scalable=no, width=550">-->
<meta name="viewport" content="width=480">
<title>{{name}}</title>
<link rel="stylesheet" type="text/css" href="/assistantdm/static/spelllist.css">
</head>
<body>
	<div id="tabs"></div>

	<div id="tab_content">
		{{{content}}}
		<section id="tab_cast" style="display:none;" class="tab" name="Cast" saveurl="">
			<div>
				<h3>Memorised</h3>
				<div id="spellList" class="scrollable" button="btnSpells" style="width:300px">
					{{#spells}}
					<div class="selectable">{{{html}}}</div>
					{{/spells}}
				</div>
				<br><input type="button" id="btnSpells" value="Cast" onclick="castSpell()"/>
				<input type="button" value="Rest" onclick="rest()"/>
			</div>
		</section>
	</div>
	<script type="text/javascript" src="/assistantdm/static/spelllist.js"></script>
</body>
</html>
